In [1]:
import pandas as pd 
import seaborn as sn

In [2]:

# Instalar o pacote da basedosdados, caso seja a primeira vez a rodar o script
# ! pip install basedosdados

Requirement already satisfied: basedosdados in c:\users\tadeu\anaconda3\lib\site-packages (1.5.6)
Collecting tqdm==4.50.2
  Using cached tqdm-4.50.2-py2.py3-none-any.whl (70 kB)
Requirement already satisfied: google-cloud-storage==1.31.2 in c:\users\tadeu\anaconda3\lib\site-packages (from basedosdados) (1.31.2)
Requirement already satisfied: pandas-gbq==0.13.2 in c:\users\tadeu\anaconda3\lib\site-packages (from basedosdados) (0.13.2)
Requirement already satisfied: google-cloud-bigquery==1.28.0 in c:\users\tadeu\anaconda3\lib\site-packages (from basedosdados) (1.28.0)
Requirement already satisfied: tomlkit==0.7.0 in c:\users\tadeu\anaconda3\lib\site-packages (from basedosdados) (0.7.0)
Collecting Jinja2==2.11.2
  Using cached Jinja2-2.11.2-py2.py3-none-any.whl (125 kB)
Requirement already satisfied: click==7.1.2 in c:\users\tadeu\anaconda3\lib\site-packages (from basedosdados) (7.1.2)
Requirement already satisfied: ruamel.yaml==0.17.4 in c:\users\tadeu\anaconda3\lib\site-packages (from basedosdados) (0.17.4)
Requirement already satisfied: google-cloud-bigquery-storage==1.1.0 in c:\users\tadeu\anaconda3\lib\site-packages (from basedosdados) (1.1.0)
Requirement already satisfied: pyaml==20.4.0 in c:\users\tadeu\anaconda3\lib\site-packages (from basedosdados) (20.4.0)
Requirement already satisfied: pandas==1.2.4 in c:\users\tadeu\anaconda3\lib\site-packages (from basedosdados) (1.2.4)
Requirement already satisfied: google-resumable-media<2.0dev,>=0.6.0 in c:\users\tadeu\anaconda3\lib\site-packages (from google-cloud-bigquery==1.28.0->basedosdados) (1.3.2)
Requirement already satisfied: six<2.0.0dev,>=1.13.0 in c:\users\tadeu\anaconda3\lib\site-packages (from google-cloud-bigquery==1.28.0->basedosdados) (1.15.0)
Requirement already satisfied: google-api-core<2.0dev,>=1.21.0 in c:\users\tadeu\anaconda3\lib\site-packages (from google-cloud-bigquery==1.28.0->basedosdados) (1.31.1)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.4.1 in c:\users\tadeu\anaconda3\lib\site-packages (from google-cloud-bigquery==1.28.0->basedosdados) (1.7.2)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in c:\users\tadeu\anaconda3\lib\site-packages (from google-cloud-storage==1.31.2->basedosdados) (2.25.1)
Requirement already satisfied: google-auth<2.0dev,>=1.11.0 in c:\users\tadeu\anaconda3\lib\site-packages (from google-cloud-storage==1.31.2->basedosdados) (1.34.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\tadeu\anaconda3\lib\site-packages (from Jinja2==2.11.2->basedosdados) (1.1.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\tadeu\anaconda3\lib\site-packages (from pandas==1.2.4->basedosdados) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\tadeu\anaconda3\lib\site-packages (from pandas==1.2.4->basedosdados) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\tadeu\anaconda3\lib\site-packages (from pandas==1.2.4->basedosdados) (2.8.1)
Requirement already satisfied: google-auth-oauthlib in c:\users\tadeu\anaconda3\lib\site-packages (from pandas-gbq==0.13.2->basedosdados) (0.4.5)
Requirement already satisfied: setuptools in c:\users\tadeu\anaconda3\lib\site-packages (from pandas-gbq==0.13.2->basedosdados) (52.0.0.post20210125)
Requirement already satisfied: pydata-google-auth in c:\users\tadeu\anaconda3\lib\site-packages (from pandas-gbq==0.13.2->basedosdados) (1.2.0)
Requirement already satisfied: PyYAML in c:\users\tadeu\anaconda3\lib\site-packages (from pyaml==20.4.0->basedosdados) (5.4.1)
Requirement already satisfied: ruamel.yaml.clib>=0.1.2 in c:\users\tadeu\anaconda3\lib\site-packages (from ruamel.yaml==0.17.4->basedosdados) (0.2.6)
Requirement already satisfied: packaging>=14.3 in c:\users\tadeu\anaconda3\lib\site-packages (from google-api-core<2.0dev,>=1.21.0->google-cloud-bigquery==1.28.0->basedosdados) (20.9)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in c:\users\tadeu\anaconda3\lib\site-packages (from google-api-core<2.0dev,>=1.21.0->google-cloud-bigquery==1.28.0->basedosdados) (1.53.0)
Requirement already satisfied: protobuf>=3.12.0 in c:\users\tadeu\anaconda3\lib\site-packages (from google-api-core<2.0dev,>=1.21.0->google-cloud-bigquery==1.28.0->basedosdados) (3.17.3)
Requirement already satisfied: grpcio<2.0dev,>=1.29.0 in c:\users\tadeu\anaconda3\lib\site-packages (from google-api-core<2.0dev,>=1.21.0->google-cloud-bigquery==1.28.0->basedosdados) (1.39.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\tadeu\anaconda3\lib\site-packages (from google-auth<2.0dev,>=1.11.0->google-cloud-storage==1.31.2->basedosdados) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\tadeu\anaconda3\lib\site-packages (from google-auth<2.0dev,>=1.11.0->google-cloud-storage==1.31.2->basedosdados) (4.2.2)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\tadeu\anaconda3\lib\site-packages (from google-auth<2.0dev,>=1.11.0->google-cloud-storage==1.31.2->basedosdados) (4.7.2)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in c:\users\tadeu\anaconda3\lib\site-packages (from google-resumable-media<2.0dev,>=0.6.0->google-cloud-bigquery==1.28.0->basedosdados) (1.1.2)
Requirement already satisfied: cffi>=1.0.0 in c:\users\tadeu\anaconda3\lib\site-packages (from google-crc32c<2.0dev,>=1.0->google-resumable-media<2.0dev,>=0.6.0->google-cloud-bigquery==1.28.0->basedosdados) (1.14.5)
Requirement already satisfied: pycparser in c:\users\tadeu\anaconda3\lib\site-packages (from cffi>=1.0.0->google-crc32c<2.0dev,>=1.0->google-resumable-media<2.0dev,>=0.6.0->google-cloud-bigquery==1.28.0->basedosdados) (2.20)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\tadeu\anaconda3\lib\site-packages (from packaging>=14.3->google-api-core<2.0dev,>=1.21.0->google-cloud-bigquery==1.28.0->basedosdados) (2.4.7)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\tadeu\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<2.0dev,>=1.11.0->google-cloud-storage==1.31.2->basedosdados) (0.4.8)
Requirement already satisfied: idna<3,>=2.5 in c:\users\tadeu\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage==1.31.2->basedosdados) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tadeu\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage==1.31.2->basedosdados) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\tadeu\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage==1.31.2->basedosdados) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\tadeu\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage==1.31.2->basedosdados) (4.0.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\tadeu\anaconda3\lib\site-packages (from google-auth-oauthlib->pandas-gbq==0.13.2->basedosdados) (1.3.0)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\tadeu\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->pandas-gbq==0.13.2->basedosdados) (3.1.1)
Installing collected packages: tqdm, Jinja2
  Attempting uninstall: tqdm
    Found existing installation: tqdm 4.62.3
    Uninstalling tqdm-4.62.3:
      Successfully uninstalled tqdm-4.62.3
  Attempting uninstall: Jinja2
    Found existing installation: Jinja2 2.11.3
    Uninstalling Jinja2-2.11.3:
      Successfully uninstalled Jinja2-2.11.3
Successfully installed Jinja2-2.11.2 tqdm-4.50.2

In [3]:
import basedosdados as bd

In [4]:
# Para carregar e salvar os dados 

query = """
SELECT ano, mes, sigla_uf, saldo_movimentacao, id_municipio, cnae_2_secao, cnae_2_subclasse, cbo_2002, grau_instrucao, sexo, salario_mensal, indicador_trabalho_intermitente,
indicador_trabalho_parcial,  FROM `basedosdados.br_me_caged.microdados_movimentacao` WHERE sigla_uf = "MA"
""" 

dados = bd.read_sql(query, billing_project_id="caged-368713")

Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=262006177488-3425ks60hkk80fssi9vpohv88g6q1iqd.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcloud-platform&state=ccKtmVLZl3Vu8xr7Y9ENkmhs5RP5XZ&prompt=consent&access_type=offline
Enter the authorization code: 4/1AfgeXvtsw-CeQ1aTPnQWaVsXOJkxYL1JPzMEnjnUXF-NGkS8mnTeQYv13f4

Downloading: 100%|██████████| 824854/824854 [01:24<00:00, 9716.34rows/s]

In [6]:
# salvar os dados em .csv 
dados.to_csv("dados.csv", encoding = 'utf-8')

In [45]:
dados = pd.read_csv("dados.csv")

In [39]:
# verificar os dados 
dados.head(5)

,Unnamed: 0,ano,mes,sigla_uf,saldo_movimentacao,id_municipio,cnae_2_secao,cnae_2_subclasse,cbo_2002,grau_instrucao,sexo,salario_mensal,indicador_trabalho_intermitente,indicador_trabalho_parcial
0,0,2020,7,MA,1,2107506,C,2222600,783225,7,1,NaN,0,0
1,1,2020,7,MA,1,2111300,G,4772500,421125,7,3,NaN,0,0
2,2,2020,7,MA,1,2111300,Q,8630502,514225,2,1,NaN,0,0
3,3,2020,7,MA,1,2111508,N,8299799,715125,4,1,NaN,0,0
4,4,2020,7,MA,1,2104552,C,1121600,784205,7,1,NaN,0,0

In [47]:
# Vamos fazer o label encoding. 
# criar dicionário para recodificar variavel 
# https://www.sharpsightlabs.com/blog/recode-categorical-variable-python/ 
# dados.assign(teste  = dados.sexo.map(sexo_mapping)) Usar essa abordagem para testar antes de salvar diretamente no dataframe

sexo_mapping = {1:'Masculino',
                3:'Feminino'
                    }

In [48]:
dados['sexo'] = dados['sexo'].map(sexo_mapping)

In [43]:
dados.head(3)

,Unnamed: 0,ano,mes,sigla_uf,saldo_movimentacao,id_municipio,cnae_2_secao,cnae_2_subclasse,cbo_2002,grau_instrucao,sexo,salario_mensal,indicador_trabalho_intermitente,indicador_trabalho_parcial
0,0,2020,7,MA,1,2107506,C,2222600,783225,7,Masculino,NaN,0,0
1,1,2020,7,MA,1,2111300,G,4772500,421125,7,NaN,NaN,0,0
2,2,2020,7,MA,1,2111300,Q,8630502,514225,2,Masculino,NaN,0,0

Leitura dos dados salvos no Drive

In [49]:
dados.sexo.value_counts()

Masculino    561947
Feminino     262907
Name: sexo, dtype: int64

In [50]:
dados.indicador_trabalho_parcial.value_counts()

0    800374
1     13966
9     10514
Name: indicador_trabalho_parcial, dtype: int64

In [36]:
parcial_mapping = {1:'Sim'
                    ,0:'Nao'
                    }

In [37]:
dados['indicador_trabalho_parcial'] = dados['indicador_trabalho_parcial'].map(parcial_mapping)